.task {
  width: 100%;
  min-height: 75px;
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.75rem;

  background: var(--gray-500);
  color: var(--gray-100);

  padding: 1rem;
  border-radius: 0.5rem;
}

.task input[type="checkbox"]  {  
  display: none;
}

.task input[type="checkbox"] + label {
  position: relative;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.task input[type="checkbox"] + label::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;

  border: 1px solid var(--blue);

  transition: 0.2s;
  cursor: pointer;
}

.task input[type="checkbox"]:not(:checked) + label:hover::before {
  background: var(--blue-dark);
}

.task input[type="checkbox"]:checked + label::before {
  background: var(--purple-dark);
  border: 1px solid var(--purple-dark);
}

.task input[type="checkbox"]:checked + label:hover::before {
  background: var(--purple);
  border: 1px solid var(--purple);
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;

  width: 3px;
  height: 6px;

  border-right: solid 1px var(--gray-100);
  border-bottom: solid 1px var(--gray-100);

  transform: rotate(45deg);
}

.task p {
  width: 100%;
  font-size: 0.875rem;
  text-align: left;
}

.task button {
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  width: 24px;
  height: 24px;

  color: var(--gray-300);
  border-radius: 0.25rem;
  border: 0;

  cursor: pointer;
  box-shadow: none;
}

.task button:hover {
  background: var(--gray-400);
  color: var(--danger);

  transition: .2s;
}

.task button svg {
  width: 24px;
  height: 18px;
  display: inline-block;
}

.isDone > p { 
  text-decoration: line-through;
}
