.newTask {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

@media(max-width: 375px) {
  .newTask {
    flex-direction: column;
  }

  .newTask > button {
    width: 100%;
  }
}